@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300&display=swap');
@import url('http://fonts.cdnfonts.com/css/cocogoose');

@media screen and (min-width: 768px) {
  html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
  }

  ul {
    list-style: none;
  }

  body {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    background-color: blue;
  }

  .heading,
  .headline {
    color: blue;
  }
}
