@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300&display=swap');
@import url('https://fonts.cdnfonts.com/css/cocogoose');

@media screen and (max-width: 768px) {
  html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
  }

  ul {
    list-style: none;
  }

  .desktop-menu,
  .top-nav,
  #dt-btn {
    display: none;
  }

  body {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
    color: #272a31;
    background-color: rgba(229, 229, 229, 0.5);
  }

  main {
    width: 100vw;
  }

  .home-page {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
    height: 100vh;
    margin: 0;
    background-image: url(./images/bg.png);
    background-size: contain;
    background-color: #d3d3d3;
    z-index: 1;
  }

  #bg {
    position: absolute;
    width: 10rem;
    height: 10rem;
    left: 67%;
    top: 30%;
    background-image: url(./images/bg3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #d3d3d3;
  }

  #intro {
    position: absolute;
    z-index: 1;
    top: 14vh;
    color: #ec5242;
  }

  .menu {
    margin: 0;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: rgba(211, 211, 211, 0.99);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 7rem;
  }

  .menu a {
    width: 100%;
    text-decoration: none;
    color: rgba(236, 82, 66, 1);
    font-size: 4rem;
  }

  .hamburger {
    z-index: 10;
    position: absolute;
    left: 2rem;
    top: 2rem;
    height: auto;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .ham {
    background-color: rgb(106, 101, 101);
    margin: 0.2rem;
    width: 3.5rem;
    height: 0.5rem;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }

  .hamburger.active .ham:nth-child(1) {
    background-color: rgba(236, 82, 66, 1);
    position: fixed;
    transform: translateY(1rem) rotate(45deg);
  }

  .hamburger.active .ham:nth-child(2) {
    visibility: hidden;
  }

  .hamburger.active .ham:nth-child(3) {
    background-color: rgba(236, 82, 66, 1);
    position: fixed;
    transform: translateY(1rem) rotate(-45deg);
  }

  .navigation {
    margin: 0;
  }

  .headline {
    color: #ec5242;
    font-size: 3rem;
    margin-top: 13rem;
    display: flex;
    flex-direction: column;
    font-family: 'COCOGOOSE', sans-serif;
    z-index: 1;
    background-image: url(./images/theme.png);
    background-size: contain;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .summit-description {
    font-size: 1.6rem;
    margin: 0.1rem;
    background-color: rgb(249, 249, 249);
    border: 3px solid rgba(255, 255, 255, 1);
    padding: 1.5rem;
    z-index: 1;
  }

  .date-details {
    font-size: 1.8rem;
    font-family: "COCOGOOSE", sans-serif;
    color: #272a31;
    margin: 0.9rem;
    z-index: 1;
  }

  .divider {
    background-color: #ec5242;
    width: 10%;
    margin: auto;
    height: 0.2rem;
  }

  .venue {
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
    z-index: 1;
    width: 100%;
    padding: 0;
  }

  /* about section */
  .about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./images/dark.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem;
  }

  .activity-list {
    padding: 0;
  }

  .activity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0;
    background-color: rgba(211, 211, 211, 0.2);
  }

  .activity img {
    width: 3rem;
    height: 3rem;
  }

  .about-header,
  .activity-description,
  .partners-header {
    color: #fff;
  }

  .activity-description {
    width: 60%;
    font-size: 1.2rem;
  }

  .activity-name {
    color: #ec5242;
    font-size: 1.6rem;
    width: 20%;
  }

  .subscribe-btn {
    background-color: rgba(236, 82, 66, 0.8);
    border: 0;
    color: #fff;
    font-size: 1.5rem;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.8rem;
  }

  .subscribe-btn:hover {
    background-color: rgba(236, 82, 66, 1);
    transform: scale(1.2);
  }

  .partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 3rem;
  }

  .partners-header {
    font-size: 2rem;
  }

  #img-separator {
    display: block;
  }

  .partner-logos {
    height: auto;
    display: flex;
    justify-content: center;
    filter: grayscale(var(--value, 100%));
    flex-wrap: wrap;
    gap: 1.1rem;
    margin: 0.9rem;
  }

  .partner-logos img {
    width: 7rem;
    height: 5rem;
  }

  .logo {
    height: 4rem;
    width: 4rem;
    padding: 0;
  }

  .footer-info {
    height: auto;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 3rem;
    filter: grayscale(var(--value, 100%));
  }

  /* speakers */

  .name {
    font-size: 1.6rem;
    font-weight: bold;
  }

  #speakers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 100vw;
    height: auto;
    padding: 2rem 0;
  }

  #speaker-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    padding: 2.4rem 2.4rem;
    height: auto;
  }

  #speakers img {
    height: 10rem;
    width: 10rem;
  }

  .speaker-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    padding: 1rem;
  }

  #divider3 {
    width: 8%;
    background-color: #ec5242;
    margin-bottom: auto;
    height: 0.2rem;
  }

  #div1 {
    width: 2rem;
    height: 0.3rem;
    margin: 0 0 12px;
    background-color: #d3d3d3;
  }

  .occupation {
    color: #ec5242;
    font-style: italic;
  }
}
